.SearchBox {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem;

    form {
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 0.5rem;
        }
    }
}